 <div class="avatar">
   <img src="assets/img/Profile.jpg" alt="Avatar">
</div>

 <div class="user-details">
  <p> Experienced Engineer in the Data Science field with a demonstrated history of working in the petrochemical industry(Process Optimization) and R&D. Skilled in ML model generation(Predictive Modelling), NLP, AI, Database Management, Python, R, Java, Algorithms, Statistics, and Analytical Skills. Strong engineering professional with an Ongoing Master of Science (MS) focused on Data Science from Northeastern University in the City of Boston.

</P> 
   <p>My focus is to leverage the wealth of data available today and find insights, innovative solutions for real-world/business problems. I have done multiple projects and published a few papers on the same.</p>
</div>

<div class="user">
  <div class="tech">
    <h2>Analyzing </h2>
  <div class="icons">
      <i class="icon fas fa-file-csv"></i>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <p>
       Statistical analysis & the know-how of leveraging power of computing frameworks to mine-process 
     and present the value out of unstructured bulk of data is the most important technical skill I have acquired for my passion to become a data scientist. 

    </p>
  </div>

  <div class="tech">
    <h2>Developing</h2>
  <div class="icons">
      <i class="devicon-python-plain"></i>
      <i class="devicon-git-plain"></i>
    </div>
    <p>
     Full stack Development understanding is important in Data Science, throughout my work experience at Honeywell and Northeastern having end to end development knowledge, from data engineering pipelines to model development and deployment helps in developing better products and models.
     
    </p>
  </div>
  <div class="tech">
    <h2>Communicating</h2>
  <div class="icons">
      <i class="icon fas fa-chalkboard-teacher"></i>
      <i class="icon fas fa-comments"></i>
    </div>
    <p>
      Whats the use of analyzing millions of rows of data if one can't visualize it. Tableau and Power BI are the best tools to tell a story from any given data.
      I'm also able to present complex results to a non-technical audience(Clients).
    </p>
  </div>
</div>
