<div id="particles-js">
  <div class="header">
    <head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/9d02328505.js" crossorigin="anonymous"></script>
   </head>
      <h1>
        <span class="site-title">{{site.user_title}} {{site.username}}</span>
        <span class="site-description">{{site.user_job_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="E-Mail" href="mailto:kandappareddigari.s@northeastern.edu"><i class="icon fas fa-envelope"></i></a>
        <a aria-label="Orcid" target="_blank" href="https://orcid.org/0000-0001-9734-7358"><i class="fab fa-orcid" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/sksvineeth"><i class="icon fab fa-github" aria-hidden="true"></i></a>
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/sai-vineeth-k-r-b1802499/"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        ·
        <a class="link" href="#workexp" data-scroll>Work Experience</a>
        .
        <a class="link" href="#projects" data-scroll>Projects</a>
        .
        <a class="link" href="assets/img/Sai Vineeth Resume.pdf" download="Sai Vineeth Resume">Resume</a>
        
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>
  

