<div class="user-details">
	<h1> <u>Projects </u></h1>
</div>


<div class="user-projects">

  <div class="images-right">
    <img alt="movie" src="{{ "/assets/img/movie.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Abstractive and Extractive Research Paper Text Summarization </h3>
    <p> Developed a seq2seq Bidirectional LSTM Encoder with a unidirectional decoder using Glove embeddings model for summarization and to optimize time spent on research papers by academics during their research work
	  </p>
      <p align="center"><a class="project-link" href="https://github.com/sksvineeth/Abstractive-Extractive-Research-Article-Summarization">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="tmobile" src="{{ "/assets/img/tmobile.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Time Series Forecasting of recommended stocks for the users of same cohort </h3>
    <p>
    	<li>Applied EDA, feature Engineering to the crawled stock recommended data and trained it on ARIMA, Fourier, LSTM with hyperparameter tuning , where stock price movement is analyzed and close prices are predicted with an accuracy ~68.9%</li>
    	<li>Technologies Used: Tensorflow, Keras, Scikit, Web Crawler, Sequential and Forecasting Models,Hyperparameter Tuning</li>
	
    </p>
      <p align="center"><a class="project-link" href="https://github.com/sksvineeth/stockAnalyzer">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="microsoft" src="{{ "/assets/img/microsoft.jpg" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> A Real Time Pain detection Alarm System for Healthcare </h3>
    <p>
	   <li> Developed a CNN model for Pain detection on tailored datasets from multiple labs, used for patients with dementia and infants. The integrated system is able to assess the patient’s  pain level with a validation accuracy ~78%</li>
	    <li>Building Deep Learning Models for Human-Machine Interaction Lab related to Health Care for Pain Recognition leveraging VGG16, RESNET, Inception models and designing the AWS (Kinesis,lambda,Sagemaker) pipeline</li>
	    <li>Technologies Used: DeepNeuralNet, Keras, pandas, Numpy, Gabor Filtering, Tensorflow, OpenCV, Hyperparameter Tuning</li>
     </p>
    <p align="center">
    <a class="project-link" href="https://github.com/sksvineeth/Emotion-Detection">Check it out</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="youtube" src="{{ "/assets/img/yt.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Statistical Analysis of Cold Calls for Car Insurance </h3>
    <p>
      
	<li> The project deals with providing a statistical analysis of the dataset along with the hypothesis testing in order to understand the behaviour of the customer</li>
	<li> Performed data scraping & envisioned the trends, stationarity parameters , Goodness of Test, Hyperparameters, Hypothesis Testing, Naive Bayes Classification</li>

    </p>
    <p align="center"><a class="project-link" href="https://www.kaggle.com/vineethreddykr/statistical-analysis-of-cold-calls-for-ci">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="nobel" src="{{ "/assets/img/nobel.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Demographic Trend analysis on Suicide rate and it's relation with Happiness  </h3>
    <p>
      
<li>Analyzed and presented high-level interactive visualizations of Suicide rate and examined the “Suicide in Happy places” paradox</li>
<li>Technologies Used: Anomaly detection, Feature Engineering, Data wrangling, Data Transformation, R (gganimate), Tableau</li>
    </p>
    <p align="center">
      <a class="project-link" href="https://www.kaggle.com/vineethreddykr/demographic-trend-analysis-on-suicide-rate">Check it out</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="tvshow" src="{{ "/assets/img/tvshow.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left" style="margin: 0; top: 50%">
    <h3> Demographic Customer Segmentation and Acquisition based on Financial Company’s Customer data  </h3>
    <p> After exploring a Dataset containing game info and cleaning our data a little, we're going to answer questions like:

<li>Clustered customers into segments based on demographic data using unsupervised learning (Kmeans, DBScan, PCA) & predicted potential customers using classification models(LDA, Logistic,RF, XGboost), with XGboost achieving a ROC score of  0.82</li>
<li>Technologies Used: Feature Engineering, Dimensionality Reduction, Clustering, Classification Models, Hyperparameter Tuning</li>
      </p>
      <p align="center"><a class="project-link" href="https://github.com/mshukla20/TV-Halftime-Shows-and-the-Big-Game">Check it out</a></p>
  </div>
</div>

