<div class="user-details">
	<h1> <u>Publications </u></h1>
</div>



<div class="user-publications">    
  </div>
  <div style="text-align:center">
    <h3> A novel approach for Intelligent crime pattern discovery and prediction </h3>
    <p align="left">
    	<li>My work concentrates on finding frequent crimes state wise using FP Max a bottom up approach which uses linked lists for reduction of space complexity. The generated frequent crime sets of state will be undergone through knowledge discovery process. Correlation between the crime types is done to find the weightage factor of crime types to find crime intensity point. </li>
      <li>The crime intensity point of 29 states and 7 union territories are calculated according to the weightages derived from the correlation analysis. Later we classified the states as most dangerous, dangerous, moderate or safe based on their crime intensity point using Random forests classification technique.</li>
      <li>Prediction of crime intensity point for the state based on the responsible factors that contribute to a crime </li>
      <li>Methodoligies Used: FP Tree, Fp Max, Correlation Analysis, CIP(Crime Intensity Point), Data transformation Algorithm(DTA), Classification(Random Forests), Prediction(SVM) ,KDD(Knowledge Discovery Process)</li>
	
    
      <p align="center"><a class="project-link" href="https://ieeexplore.ieee.org/document/7831697/">ICACCCT 2016</a></p>
  </div>
</div>

<div class="user-publications">
  </div>
  <div style="text-align:center">
    <h3> Huskysort </h3>
    <p align="left">
	   <li>Describes an approach to sorting which reduces the number of expensive comparisons in the linearithmic phase as much as possible by substituting inexpensive comparisons </li>
	    <li>Demonstrated that a combination of these two algorithms (dual-pivot quicksort (for primitives) and Timsort) can run significantly faster than either algorithm alone for the types of objects which are expensive to compare. We call this improved sorting algorithm Huskysort.</li>
	    <li>When sorting objects rather than primitives, Huskysort is always faster than dual-pivot quicksort. It is faster than Timsort for arrays which are not partially ordered. It is especially fast for Unicode character strings.</li>
     
    <p align="center">
    <a class="project-link" href="https://arxiv.org/pdf/2012.00866v1.pdf">ACDA 21</a>
    </p>
  </div>
</div>
