<div class="user-details">
  <h1> <u>Work Experience </u></h1>
</div>

<div class="user-workexp">
  </div>
  <div style="text-align:center">
<h3> Research Assistant  | Northeastern University | Boston, MA | August 2020 </h3>
    <p> Building Deep Learning Models for Human-Machine Interaction Lab related to Health Care for Pain Recognition leveraging CNN (VGG16, RESNET, Inception) models and designing the AWS (Kinesis, lambda, Sagemaker) pipeline.

  </div>
</div>


<div class="user-workexp">
  </div>
  <div style="text-align:center">
<h3> Data Scientist | Honeywell | Aug 2017 - July 2019</h3>
    <p align="right">
     <li>Developed and monitored predictive models (Supervised) for the refinery  plants and supported in the decision making with SMEs; worked on classification models (LDA, Logistic, SVM and mainly decision trees)</li>
      <li>Developed, analyzed, and resolved issues of a group of 5 MVC web applications in C#.NET utilizes ML.Net in an agile team, and formulated queries, stored procedures, functions, pivot tables, and transactions using SQL for data management and ETL, with an added recommendation system used by internal customers of refinery plants</li>
      <li>Designed and implemented data pipelines to stream sensor data on memSQL (in-memory DDB) using Spark and Kafka and ETL scripts(python); Resulting in reducing load and latency by 60%; Analyzed massive sensor timestamp data using Influxdb</li>
      <li>Reduced delay in addressing client issues, by developing Distribution Mail List Bot and Knowledge Base with a retention rate ~36%, to address common issues, using internal LUIS, NLP, MongoDB</li>
      <li>Elected as focal leader for Innovation activities within the department and received ‘Best Kaizen’ and ‘Honeywell Star’ awards
      </li>
     </p>

  </div>
</div>

<div class="user-workexp">
  </div>
  <div style="text-align:center">
    <h3> Research Intern | Honeywell | Dec 2016 - Jul 2017</h3>
    <p align="right">
     <li>Analyzed difficulties faced by employees in refinery plants and developed an internal  bot service which helps in finding documents that are required, using NLTK , Scikit, Tensorflow and MongoDB </li>
      <li>Reduced the categorical features with the added weights for feature reduction using Theil’s U that minimized model processing time by 30% for designing refinery plants</li>
     </p>
  </div>
</div>
